
<p>
    vuelos works!
</p>

<div class="navLinks">
    <a [routerLink]="['./main'] ">Main</a> |
    <a [routerLink]="['./mas-info'] ">Mas Info</a> |
    <a [routerLink]="['./', 5] ">vuelo 5</a> 
  
</div>

<router-outlet></router-outlet>